{% extends "aplicacion/base.html" %}
{% load static %}
{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col-md-12">
            <h1 class="display-4">¡Hola, soy Walter Gabini!</h1>
            <p class="lead">Actualmente, trabajo para una logística en la ciudad de Rosario. Este año, decidí meterme en el mundo de la programación, comenzando con Python, y debo decir que ha sido una experiencia sorprendente.</p>
            <p class="lead">Sobre el curso, puedo decir que ha sido una experiencia genial. Al principio, costo un poco, pero a medida que avanzaban las clases, todo se volvía cada vez más interesante. Voy a aprovechar lo que resta del año para practicar aún más para sentirme aún más cómodo.</p>
        </div>
    </div>
</div>
{% endblock content %}