{% extends "aplicacion/base.html" %}
{% load static %}
{% block content %}
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 20vh; margin: 20px 0;">
    <h1>{{ titulo }}</h1>
    <div class="form-container">
        <h2 style="font-family: 'Poppins', sans-serif; text-align: center;">Empleado</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Enviar" style="display: block; margin: 0 auto;">
        </form>
    </div>
</div>

<style>
    .form-container {
        padding: 20px;
        border: 1px solid #ccc;
        background-color: #f9f8f9;
        max-width: 400px;
        width: 100%;
        border-radius: 10px; /* Agrega bordes redondeados */
    }
</style>

{% endblock content %}