{% extends 'aplicacion/base.html' %}
{% load static %}
{% block contenido %}

<table>
    <tr>
        <td width="200"><h2 style="font-family: 'Poppins', sans-serif;">Envio</h2></td>
        <td>
            <a
            href="{% url 'create_envio' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="New Record"> </i>
            </a>
        </td>
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Descripcion</th>
            <th>Cantidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for envio in envio_list %}
    <tr>
        <td>{{ envio.id }}</td>
        <td>{{ envio.descripcion }}</td>
        <td>{{ envio.cantidad }}</td>
        

        <td>
            <a
              href="{% url 'update_envio' envio.id %}"
              class="btn btn-primary"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
            </a>
            <a
              href="{% url 'delete_envio' envio.id %}"
              class="btn btn-danger"
              style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
              ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
            </a>
          </td>        
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock contenido %}